<!DOCTYPE html>
<html lang="en">

<head>
    <title>Landing Page/Home</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">


</head>
<div class="container">
    <div class="row">
        <div class="col-12">
        <h2>Blog</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <a href="{% url 'home' %}?category=travel">travel</a>
            <a href="{% url 'home' %}?category=beauty">beauty</a>
            <a href="{% url 'home' %}?category=food">food</a>


<!--
            <div class="col-2">
                                         {% for category in categories %}

                    {{category.name}}
                                               {% endfor %}

            </div>

-->

        </div>
    </div>
    
    <div class="row">
        <div class="col-12 card">
                        <div class="card-body">

    
             {% for post in posts %}
                <a href="{% url 'post_detail' post.slug%}"> {{ post.title }}</a>

                <p>{{ post.category }}</p> 
                <p>{{ post.tags }}</p>        
                <p>{{ post.author }}</p>        

               
               {% endfor %}
            </div>
            </div>
            </div>
            </div>

</html>

